html {
  background-color: black;
}
.LEFT {
  position: absolute;
  margin-left: 10px;
  border: 3px solid;
}

.RIGHT {
  position: absolute;
  left: 30%;
  border: 3px solid;
}

#todo {
  position: relative;
  color: white;
  font-size: 50px;
  left: 35px;
}
#list {
  position: relative;
  font-size: 50px;
  color: white;
  left: 60px;
  bottom: 30px;
}

#lang {
  position: relative;
  font-size: 20px;
  color: white;
  left: 20px;
  bottom: 30px;
}

.NewTask {
  background-color: black;
  border-radius: 5px;
  width: 200%;
  height: 40px;
  color:white;
}

.Plus {
  position: relative;
  left: 205%;
  bottom: 45px;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.RIGHT-TASK {
  position: relative;
  background-color: #221526;
  border-radius: 5px;
  width: 203%;
  height: 40px;
  bottom: 20px;
}

#tasks {
  position: relative;
  top: 10px;
  left: 30px;
  color: white;
}

#checkbox {
  position: relative;
  bottom: 36px;
}

#del {
  position: relative;
  bottom: 30px;
  left: 85%;
  width: 30px;
  height: 30px;
}
